@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

// Color

/*TEXT*/

$color-main-heading: hsl(271, 36%, 24%);
$color-subheading-ui: hsl(276, 100%, 81%);
$color-paragraph: hsl(270, 7%, 64%);
$color-chat-left: hsl(276, 55%, 52%);
$color-chat-right: hsl(271, 15%, 43%);
$color-placeholder-t: hsl(206, 6%, 79%);

/*GRADIENT*/

$gradient-light: hsl(293, 100%, 63%);
$gradient-dark: hsl(264, 100%, 61%);

/*Accent and neutral*/
$neutral-white: hsl(0, 0%, 100%);
$neutral-bg: hsl(270, 20%, 96%);
$accent-submit: hsl(271, 36%, 24%);
$accent-radio-outline: hsl(289, 100%, 72%);

